[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-sqlalchemy = "==3.0.5"
flask-jwt-extended = "==4.5.3"
flask-migrate = "==4.0.5"
flask-cors = "==4.0.0"
python-dotenv = "==1.0.0"
werkzeug = "==2.3.7"
psycopg2 = "*"
requests = "*"
gunicorn = "*"
flask-mail = "*"

[dev-packages]

[requires]
python_version = "3.13"
